@keyframes slide {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-15px);
    }

    100% {
        transform: translateX(0);
    }
}

.item-sliding-pulse {
    animation: slide 1s 2;
}