<app-header [title]="_title"></app-header>

<ion-content [fullscreen]="true">

  <ion-list class="padded-list" *ngIf="nutritionLabels.length > 0; else noData">
    <ion-item-sliding *ngFor="let food of nutritionLabels; let i = index; let isFirst = first" 
    [ngClass]="{'item-sliding-pulse': isFirst}" #slider>
      <ion-item>
        <ion-label><a href="{{food.productUrl}}">{{food.brand}}<br>{{food.name}}</a></ion-label>
        <p>Calories: {{food.calories}}</p>
      </ion-item>
      <ion-item-options>
        <!-- <ion-item-option color="secondary" (click)="dummyAction()">
          <ion-icon color="light" slot="icon-only" name="pencil"></ion-icon>
        </ion-item-option> -->
        <ion-item-option color="success" (click)="shareItem(i, slider)">
          <ion-icon color="dark" slot="icon-only" name="share"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="deleteItem(i)">
          <ion-icon color="dark" slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ng-template #noData>
    <ion-grid class="ion-margin ion-padding">
      <ion-row>
        <ion-col class="ion-text-center">
          <h1 style="color: var(--ion-color-tertiary);">No Entries</h1>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>



</ion-content>

<div>
  <ion-footer>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button size="large" expand="block" (click)="toScanner()">Scan Entry</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>

  <app-footer></app-footer>
</div>