<app-header [title]="_title"></app-header>

<ion-content [fullscreen]="true">

  <div id="image-container">
    <img src="assets/img/temp1.png" alt="Description of the image">
  </div>

  <div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button color="secondary" size="large" expand="block" (click)="openHistory()">History</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="primary" size="large" expand="block" (click)="openScan()">Scan</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<app-footer></app-footer>
