<app-header [title]="_title"></app-header>
<ion-content [fullscreen]="true">
  <div id="image-container">
    <img src="assets/img/foodcover.png" alt="Description of the image">
  </div>

  <form (ngSubmit)="login()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input type="text" [(ngModel)]="_username" name="_username" placeholder="Username"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input type="password" [(ngModel)]="_password" name="_password" placeholder="Password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button size="large" expand="full" type="submit">Login</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button size="large" expand="full" fill="clear" (click)="createUser()">Create User</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>