<app-header [title]="_title"></app-header>

<ion-content [fullscreen]="true">
  <div>


  </div>

  <div>
    <ion-card class="ion-padding" [class.disabled-card]="isCardDisabled" *ngIf="nutritionLabel.valid; else noData">
      <ion-header>
        <ion-card-title>{{nutritionLabel.brand}} {{nutritionLabel.name}}</ion-card-title>
        <ion-card-subtitle>Serving Size: {{nutritionLabel.servingSize}}</ion-card-subtitle>
      </ion-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label>Calories</ion-label>
            <ion-note slot="end">{{nutritionLabel.calories}}</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>Total Fat (g)</ion-label>
            <ion-note slot="end">{{nutritionLabel.totalFat}}</ion-note>
          </ion-item>
          <ion-item>
            <ion-label class="indented-item">Saturated Fat (g)</ion-label>
            <ion-note slot="end">{{nutritionLabel.saturatedFat}}</ion-note>
          </ion-item>
          <ion-item>
            <ion-label class="indented-item">Trans Fat (g)</ion-label>
            <ion-note slot="end">{{nutritionLabel.transFat}}</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>Cholesterol (mg)</ion-label>
            <ion-note slot="end">{{nutritionLabel.cholesterol}}</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>Sodium (mg)</ion-label>
            <ion-note slot="end">{{nutritionLabel.sodium}}</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>Total Carbohydrates (g)</ion-label>
            <ion-note slot="end">{{nutritionLabel.totalCarbohydrates}}</ion-note>
          </ion-item>
          <ion-item>
            <ion-label class="indented-item">Dietary Fiber (g)</ion-label>
            <ion-note slot="end">{{nutritionLabel.dietaryFiber}}</ion-note>
          </ion-item>
          <ion-item>
            <ion-label class="indented-item">Total Sugars (g)</ion-label>
            <ion-note slot="end">{{nutritionLabel.totalSugars}}</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>Protein (g)</ion-label>
            <ion-note slot="end">{{nutritionLabel.protein}}</ion-note>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ng-template #noData>
      <ion-grid class="ion-margin ion-padding">
        <ion-row>
          <ion-col class="ion-text-center">
            <h1 style="color: var(--ion-color-tertiary);">No Scan</h1>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-template>
  </div>


</ion-content>

<div>
  <ion-footer>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button color="secondary" size="large" expand="block" (click)="openHistory()">History</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="primary" size="large" expand="block" (click)="startScan()">Scan</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="tertiary" size="large" expand="block" [disabled]="isCancelButtonDisabled"
            (click)="cancel()">Cancel</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="success" size="large" expand="block" [disabled]="isSaveButtonDisabled"
            (click)="saveNutritionData()">Save</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>


  <app-footer></app-footer>

</div>